html, body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
}

.content-wrap {
    width: 650px;
    height: 150px;
    
    /*border-radius: 13px;
    box-shadow: 0px 0px 3px #0f0f0f;*/
    
    align-self: center;
    
    padding: 0px;
    margin: 0px;
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.content-wrap h1 {
    display: block;
    width: 100%;
    text-align: center;
    
    box-shadow: 0 1px 0 gray inset,
            1px 0 0 gray inset, 
            -1px 0 0 gray inset;
    border-radius: 7px 7px 0px 0px;
    padding: 0px;
    margin: 0px;
}

.content-wrap .join-bar {
    width: 100%;
    height: 45px;
    
    padding: 0px;
    margin: 0px;
    
    display: flex;
    flex-direction: row;
}

.join-bar .roomid {
    border: 1px solid gray;
    /*border-radius: 7px 0px 0px 7px;*/
    width: 100%;
    height: 45px;
}

.join-button {
    height: 49px;
    width: auto;
    
    background-color: green;
    color: #FFFFFF;
    font-size: 25px;
    
    border: 2px solid green;
    /*border-radius: 0px 7px 7px 0px;*/
}

.create-button {
    width: 100%;
    height: 49px;
    
    padding: 0px;
    margin: 0px;
    
    background-color: #18659c;
    color: #FFFFFF;
    font-size: 25px;
    border: 2px solid #18659c;
    /*border-radius: 7px;*/
    border-radius: 0px 0px 7px 7px;
    
    -moz-transition:color .2s ease-in;
    -o-transition:color .2s ease-in;
    -webkit-transition:color .2s ease-in;
}

.create-button:hover {
    background-color: #228fdd;
}